---
---

// Headers
$header-bg-color-secondary: #254c82;
$header-bg-color: #8f4e1d;

// Text
$section-headings-color: #3a200c;

.main-content {
  font-family: Merriweather, serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fjalla One", sans-serif;
}

.wide {
  width: 100vw;
  position: relative;
  left: calc(-50vw + 50%);
  text-align: center;
}

// DExD stuff
$showDEXDquestion: block;
$showDEXDtype: none;

.dexd, h5, h6 {
  font-family: Avenir; font-size:0.9em;
}

h6 {
  // -- DExD Type Label
  padding:0.5em; margin:0.5em; margin-left:1em;
  font-weight:normal;
  border:#e0e0e0 solid 1px;
  background-color:#f0f8e0;
  float:right;
  display:$showDEXDtype;
}

h5 {
  // -- DExD Question / Annotation
  //font-family:"Palatino";
  color:"#82744D";
  font-style:"italic";
  padding:3px; margin:3px; padding-right:1em;
  padding-bottom:0.5em;
  padding-top:0.5em;
  margin-bottom:0.5em;
  margin-top:0.5em;
  text-align:right;
  border:none;
  border:#e0e0e0 solid 1px;
  border-right:#609060 solid 8px;
  background-color:#f0f8e0;
  display:$showDEXDquestion;
  position: relative;
//  width: 40vw;
//  left: 20vw;
  width: 16vw;
  left: 58vw;
  top: -10vw;
  margin-bottom: -2em;
  // float:right;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Fjalla+One&family=Merriweather:ital,wght@0,400;0,700;1,400&display=swap");

@import "{{ site.theme }}";
